################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/obj/Debug
/packages
/.vs/SisContatos

#Ignorar compilador
!/bin/roslyn/

/.vs/WebForms/FileContentIndex
/obj/Release
/Properties/PublishProfiles
/WebForms.csproj.user
/.vs/WebForms/v17/.suo
